<div class="container mt-5">
  <div class="text-center"><h1>Resultados</h1></div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <div class="form-data" v-if="!submitted">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mês/Ano</th>
                <th scope="col">NPS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td>{{item.MesAno}}</td>
                <td>
                  <span *ngIf="item.NPS < 60" style="background-color: '#FF6347'" >{{item.NPS}}</span>
                  <span *ngIf="item.NPS >= 60 && item.NPS < 80" style="background-color: '#F0E68C'" >{{item.NPS}}</span>
                  <span *ngIf="item.NPS >= 80" style="background-color: '#3CB371'" >{{item.NPS}}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mb-3">
          <button class="btn btn-dark w-100" (click)="novaAvaliacao()">Nova avaliação</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
